body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.registro-container {
  background: url('img/fondoNewUser.PNG') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.form-box {
  background-color: rgba(0, 0, 0, 0.4); /* opcional para mejorar el contraste */
  padding: 40px;
  border-radius: 20px;
  width: 80%;
  max-width: 900px;
}

.icono-formulario {
  font-size: 80px;
  margin-bottom: 20px;
}

input::placeholder {
  color: #000;
}

.social-icons i {
  font-size: 20px;
  color: white;
  cursor: pointer;
}
